<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs', {title: `Edit
    ${citizen.name.toUpperCase()} | Citizen Report`}) %>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="icon" href="/assets/trevor-goodchild-icon-01-512x512.png" />
  </head>

  <body class="editReports-background-img">
    <div class="views-list-spacing">
      <h1 class="kiosk-computer-font-02">Edit Existing Citizen Report:</h1>

      <br />

      <!-- Submission Form -->
      <form method="POST" action="/citizens/<%= citizen._id %>?_method=PUT">
        <!-- Name input -->
        <label for="name" class="kiosk-computer-font-08">Name:</label>
        <input
          type="text"
          name="name"
          id="name"
          value="<%= citizen.name %>"
          required
        />

        <!-- Nationality input -->
        <label for="nationality" class="kiosk-computer-font-08"
          >Nationality:</label
        >
        <input
          type="text"
          name="nationality"
          id="nationality"
          value="<%= citizen.nationality %>"
          required
        />

        <br />

        <!-- Confirmed Spy input -->
        <label for="is_spy" class="kiosk-computer-font-08"
          >Confirmed Spy?:</label
        >
        <select name="is_spy" id="is_spy">
          <option value="true">true</option>
          <option value="false">false</option>
        </select>

        <!-- Hair Color input -->
        <label for="hairColor" class="kiosk-computer-font-08"
          >Hair Color:</label
        >
        <input
          type="text"
          name="hairColor"
          id="hairColor"
          value="<%= citizen.hairColor %>"
        />

        <!-- Eye Color input -->
        <label for="eyeColor" class="kiosk-computer-font-08">Eye Color:</label>
        <input
          type="text"
          name="eyeColor"
          id="eyeColor"
          value="<%= citizen.eyeColor %>"
        />

        <br />

        <!-- Charges Against input -->
        <label for="charges" class="kiosk-computer-font-08">Charges:</label>
        <input
          type="text"
          name="charges"
          id="charges"
          value="<%= citizen.charges %>"
        />

        <!-- Testimonial For input -->
        <label for="testimonial" class="kiosk-computer-font-08"
          >Testimonial:</label
        >
        <input
          type="text"
          name="testimonial"
          id="testimonial"
          value="<%= citizen.testimonial %>"
        />

        <br />

        <!-- citizenProfileImage input -->
        <label for="citizenProfileImage" class="kiosk-computer-font-08"
          >Evidence Image URL:</label
        >
        <input
          type="url"
          name="citizenProfileImage"
          id="citizenProfileImage"
          placeholder="New image URL?"
        />

        <!-- Requires Investigation input -->
        <label for="requiresInvestigation" class="kiosk-computer-font-08"
          >Requires Investigation?</label
        >
        <input type="checkbox" name="requiresInvestigation"
        id="requiresInvestigation" <%= citizen.requiresInvestigation ? 'checked'
        : '' %> >

        <br />
        <br />

        <!-- Existing Image -->
        <img
          class="report-image"
          src="<%= citizen.citizenProfileImage %>"
          alt=""
        />

        <br />
        <br />

        <input type="submit" value="Edit Citizen Report" />
      </form>
      <form
        action="/citizens/<%= citizen._id %>?_method=DELETE"
        method="POST"
        onsubmit="return confirm('Are you sure you want to delete this citizen?');"
      >
        <input type="submit" value="Delete Citizen Report" />
      </form>

      <br /><br />
      <a href="/citizens/<%= citizen._id %>"
        >Return to Kiosk without Editing Citizen Information</a
      >
    </div>

    <%- include('../partials/footer.ejs') %>
  </body>
</html>
