<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Reports by Citizen</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <h1>Personal Reports by Citizen <%= currentUser._id %></h1>
    <h4><a href="/">Kiosk Homepage</a></h4>
    <ul class="dossier-list">
        <% citizens.forEach(function(citizen) { %>
            <li>
                <img src="<%= citizen.citizenProfileImage %>" alt="Profile image of <%= citizen.name %>" class="dossier-image" onerror="this.onerror=null; this.src='/path/to/default/image.jpg';">
                <p>name: <%= citizen.name %></p>
                <p>nationality: <%= citizen.nationality %></p>
                <p>skills: <%= citizen.skills%></p>
                <p>charges: <%= citizen.charges%></p>
                <p>confirmed spy: <%= citizen.is_spy %></p>
                <p>requires investigation: <%= citizen.requiresInvestigation %></p>
                <form action="/reports/<%= citizen._id %>/edit" method="GET">
                    <input type="submit" value="Edit Citizen Report" />
                </form>
                
            </li>
        <% }) %>
    </ul>
    <h4><a href="/">Kiosk Homepage</a></h4>
</body>
</html>
