<!DOCTYPE html>
<html lang="en">

<head>
     <%- include('./partials/head.ejs', {title: 'Show Page'}) %>
    <link rel="stylesheet" href="../css/styles.css">
</head>

<body>

    <nav>
        <!-- REMEMBER TO ALTER THE TAGS BELOW WHEN YOU WANT TO USE THEM!!  -->
        <%- include('./partials/nav.ejs') %>
    </nav>

    <h1>Citizens Show Page</h1>
    
    <p>
    <% if(citizen){ %>

      Your report on <span style="font-size: 18px;"><%= citizen.name.toUpperCase() %></span> related to the charge of <span style="font-size: 18px;"><%= citizen.charges.toUpperCase() %></span> has been successful.
      
      <br><br>
      
      Thank you for doing your part: <span style="font-size: 18px;"> <i>Citizen <%= currentUser._id.toUpperCase() %></i></span>.

      <br><br>

      <span>
        <img class="report-image" src=" <%= citizen.citizenProfileImage %> " alt="">
      </span>
        
      <br><br>

        <% if(citizen.requiresInvestigation === true) { %>
            <span>Investigation will commence in due time.</span>
        <% } else { %>
            <span>Further Investigation not necessary at this time.</span>
            <% }%>
            
    <% }else { %>
        
        <h1>Citizen at that index does not exist</h1>

    <% } %>
</p>
<div>
    <a href="/citizens/<%= citizen._id %>/edit">Provide Additional Information regarding this Citizen</a>
</div>
<br>

    <a href="/">Kiosk Home</a>

    <%- include('./partials/footer.ejs') %>

</body>
</html>