<head>
    <%- include('./partials/head.ejs', {title: 'Index page'}) %>
    <link rel="stylesheet" href="css/styles.css">
  </head>
  
    <body>
      <nav>
        <%- include('./partials/nav.ejs') %>
      </nav>

  <ul> 
    <!-- List of citizens for displayed on this page -->
      <!-- Iterate over citizens array passed from server -->
      <% citizens.forEach((item, index) => { %>
      <li>
          <!-- Create links to individual citizen's pages using their ID's -->
          <a href="/citizens/<%=item._id %>"><%= item.name %></a>

          <!-- Form to delete a citizen, using POST method with a query to override it to DELETE -->
          <form action="/citizens/<%= item._id %>?_method=DELETE" method="POST">
            <!-- Submit button for the form to delete the citizen -->
            <input type="submit" value="DELETE">
          </form>
      </li>
      <% }) %>
  </ul>
</body>
</html>