<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs', {title: 'Citizen Report Accepted'}) %>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="../assets/trevor-goodchild-icon-01-512x512.png">
</head>

<body class="completedReports-background-img">

    <nav>
        <!-- REMEMBER TO ALTER THE TAGS BELOW WHEN YOU WANT TO USE THEM!!  -->
        <%# include('./partials/nav.ejs') %>
    </nav>

    <h1 class="views-list-spacing kiosk-computer-font-01">New Report Accepted</h1>
    
    <p>
    <% if(citizen){ %>

        <div class="views-list-spacing kiosk-computer-font-06">

        Your report on <span class="kiosk-computer-font-01" style="font-size: 24px;">&nbsp;<%= citizen.name.toUpperCase() %></span> related to the charge of <span class="kiosk-computer-font-01" style="font-size: 24px;"><%= citizen.charges.toUpperCase() %></span> has been successful.
      
      <br><br>
      
      Thank you for doing your part: <span class="kiosk-computer-font-01" style="font-size: 24px;"> Citizen <%= currentUser._id.toUpperCase() %></span>.

      <br><br>

      <span>
        <img class="report-image" src=" <%= citizen.citizenProfileImage %> " alt="">
      </span>
        
      <br><br>

        <% if(citizen.requiresInvestigation === true) { %>
            <span>Investigation will commence in due time.</span>
        <% } else { %>
            <span>Further Investigation not necessary at this time.</span>
            <% }%>
            
    <% }else { %>
        
        <h1>Citizen at that index does not exist</h1>

    <% } %>
</p>
</div>

<a href="/reports/<%= citizen._id %>/edit" class="views-list-spacing kiosk-computer-font-08" style="font-size: 15px;">[Are you really done? Click here to supplement information]</a>

<br>
<br>

<a href=" /citizens" class="views-list-spacing kiosk-computer-font-05">Kiosk Home</a>

    <%- include('./partials/footer.ejs') %>

</body>
</html>